{% extends 'base.html.twig' %}

{% block title %}Carrito{% endblock %}

{% block body %}

    {{ include('comunes/_header.html.twig') }}
    <section class="h-100 mt-5">
      <div class="container py-5 mt-5">
        <div class="row d-flex justify-content-center my-4">
          <div class="col-md-8">
            <div class="card mb-4">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="h5">Carrito Compra</th>
                      <th scope="col">ID</th>
                      <th scope="col">Unidades</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for producto in app.session.get('carrito') %}
                      <tr id="">
                        <th scope="row">
                          <div class="d-flex align-items-center">
                            <img
                              src="{{ asset('/images/' ~  producto['producto'].imagen) }}"
                              id="imagen_producto"
                              class="img-fluid rounded-3"
                              style="width: 120px"
                              alt="Book"
                            />
                            <div class="flex-column ms-4">
                              <p class="mb-2" id="nombre_producto">{{producto['producto'].nombre}}</p>
                            </div>
                          </div>
                        </th>
                        <td class="align-middle">
                          <p class="mb-0" id="id_producto" style="font-weight: 500">{{ producto['producto'].id }}</p>
                        </td>
                        <td class="align-middle">
                          <div class="d-flex flex-row">
                            

                            <input
                              id="form1"
                              min="1"
                              max="20"
                              name="quantity"
                              value="{{ producto['cantidad'] }}"
                              type="number"
                              class="form-control form-control-sm"
                              style="width: 50px"
                            />

                            
                          </div>
                        </td>
                        <td class="align-middle">
                          <p class="mb-0" id="precio_producto" style="font-weight: 500">{{ producto['producto'].precio }}</p>
                        </td>
                        <td class="align-middle">
                          <a href="{{ path('app_producto_eliminar_carrito', {'id':producto['producto'].id}) }}">
                            <button
                                type="button"
                                class="btn mx-2 position-relative">
                                    <i class="fa fa-trash-alt"></i>
                            </button>
                          </a>
                        </td>
                      </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {# <p>{{dump(app.session.get('carrito'))}}<p> #}

          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h3 class="mb-4">Resumen Pago</h3>
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
                  >
                    Productos
                    <span>€53.98</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center px-0"
                  >
                    Envío
                    <span>Gratis</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                  >
                    <div>
                      <strong>Total</strong>
                      <strong>
                        <p class="mb-0">(incluye IVA)</p>
                      </strong>
                    </div>
                    <span><strong>€53.98</strong></span>
                  </li>
                </ul>
              
                {% if app.user %}
                    <div class="d-grid gap-2 my-2">
                      <a href="{{ path('app_user_comprar') }}" class="btn pink-btn">Finalizar Compra</a>
                    </div>
                    {% else %}
                    <div class="d-grid gap-2 my-2">
                      <a href="#" class="btn pink-btn" 
                        data-bs-toggle="modal" 
                        data-bs-target="#loginModal">Finalizar Compra</a>
                    </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

