{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
    {{ include('comunes/_header.html.twig') }}
    <div class="container">
    {# <p>{{datos}}</p> #}
    <h1 class="py-5">Lista Productos</h1>
    {# <h4>{{ busqueda }}</h4> #}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Descuento</th>
                <th>Categoria</th>
                <th>Material</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.descuento }}</td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.material }}</td>
                <td>{{ producto.color }}</td>
                <td>
                    <a href="{{ path('app_producto_show', {'id': producto.id}) }}">show</a>
                    <a href="{{ path('app_producto_edit', {'id': producto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_producto_new') }}">Create new</a>

    </div>
{% endblock %}
