{% extends 'base.html.twig' %}

{% block title %}Producto{% endblock %}

{% block body %}
    {{ include('comunes/_header.html.twig') }}
    <h1>Producto</h1>


<div class="container mt-5 mb-5 mt-5">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="{{ asset('/images/' ~  producto.imagen) }}" width="250" /> </div>
                            <div class="thumbnail text-center"> <img onclick="change_image(this)" src="{{ asset('/images/lapices.png') }}" width="70"> <img onclick="change_image(this)" src="{{ asset('/images/' ~  producto.imagen) }}" width="70"> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">Marca</span>
                                <h5 class="text-uppercase">{{ producto.nombre }}</h5>
                                <div class="price d-flex flex-row align-items-center"> <span class="act-price">{{ producto.precio }}</span>
                                    <div class="ml-2"> <small class="dis-price">59</small> <span>{{ producto.descuento }} OFF</span> </div>
                                </div>
                            </div>
                            <p class="about">{{ producto.descripcion }}</p>
                            <div class="sizes mt-5">
                                <h6 class="text-uppercase">Size</h6> <label class="radio"> <input type="radio" name="size" value="S" checked> <span>S</span> </label> <label class="radio"> <input type="radio" name="size" value="M"> <span>M</span> </label> <label class="radio"> <input type="radio" name="size" value="L"> <span>L</span> </label> <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span> </label> <label class="radio"> <input type="radio" name="size" value="XXL"> <span>XXL</span> </label>
                            </div>
                            <div class="cart mt-4 align-items-center"> <button id="botonA単adirCarrito" class="btn btn-danger text-uppercase mr-2 px-4">A単adir a la cesta</button> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# https://bbbootstrap.com/snippets/bootstrap-ecommerce-single-product-page-size-attribute-59223596 #}

    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ producto.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ producto.descripcion }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ producto.precio }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ producto.descuento }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ producto.categoria }}</td>
            </tr>
            <tr>
                <th>Material</th>
                <td>{{ producto.material }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ producto.color }}</td>
            </tr>
        </tbody>
    </table> #}

     <div id="path-to-controller-aniadir" data-href="{{ path('app_producto_carrito', {'id': producto.id}) }}"> </div>

    {# <button id="botonA単adirCarrito">A単adir a la Cesta</button> #}

    <a href="{{ path('app_homepage_index') }}">back to list</a>

    <a href="{{ path('app_producto_edit', {'id': producto.id}) }}">edit</a>

    {{ include('producto/_delete_form.html.twig') }}

    <h1>Busquedas Relacionadas</h1>


{% endblock %}