{% extends 'base.html.twig' %}

{% block body %}
{{ include('comunes/_header.html.twig') }}

    <!-- Header Start -->
    <div class="container-fluid about-header py-5 mt-5">
      <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white mb-3">{{'Sobre Nosotros'|trans }}</h1>
      </div>
    </div>
    <!-- Header End -->

    <!-- About Part 1 Start -->
    <div class="container-xxl py-6 mb-5">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row img-twice position-relative h-100">
              <div>
                <img class="img-fluid" src="/images/app/about-us.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="h-100">
              <p class="text-uppercase mb-2" id="pink">{{ 'Nuestra Historia'|trans }}</p>
              <h1 class="display-6 mb-4 title">
                {{ 'Crecer haciendo'|trans }}
              </h1>
              <p>
                {{ 'Somos un pequeño equipo dedicado a hacer que nuestros hogares y 
                alrededores sean más bonitos y encantadores. Nos apasiona el trabajo 
                manual y todos los beneficios que puede traer a nuestra vida, algo 
                especialmente importante para los niños. Creemos en hacer, no en comprar.'|trans }}
              </p>
              <div class="row g-2 mb-4 mt-2">
                <div class="col-sm-6">
                  <i class="fa fa-check me-2" id="pink"></i>{{ 'Hecho A Mano'|trans }}
                </div>
                <div class="col-sm-6">
                  <i class="fa fa-check me-2" id="pink"></i>{{ 'Ahorras Dinero'|trans }}
                </div>
                <div class="col-sm-6">
                  <i class="fa fa-check me-2" id="pink"></i>{{ 'Gran Variedad'|trans }}
                </div>
                <div class="col-sm-6">
                  <i class="fa fa-check me-2" id="pink"></i>{{ 'Talleres Gratuitos'|trans }}
                </div>
              </div>
              <a class="btn pink-btn mt-1" href="">{{ 'Ver productos'|trans }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Part 1 End -->

    <!-- About Part 2 Start -->
    <div class="container my-5" id="about-us-container-2">
      <div class="container my-5">
        <div class="text-center mx-auto mb-5" style="max-width: 500px">
          <p class="text-uppercase mb-2 mt-5" id="pink">{{ 'Manualidades'|trans }}</p>
          <h1 class="display-6 mb-4 title">{{ 'Categorías de productos'|trans }}</h1>
        </div>
        <div class="row g-4">
          <div class="col-lg-3 col-md-6">
            <div class="team-item text-center rounded overflow-hidden">
              <img class="img-fluid" src="/images/app/categoria_2.png" alt="" />
              <div class="team-title">
                <h5 class="mt-3">{{ 'Pintura'|trans }}</h5>
                <a href="#" id="pink"
                  >{{ 'Ver más'|trans }}<i class="fa fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-item text-center rounded overflow-hidden">
              <img class="img-fluid" src="/images/app/categoria_5.png" alt="" />
              <div class="team-text">
                <div class="team-title">
                  <h5 class="mt-3">{{ 'Costura'|trans }}</h5>
                  <a href="#" id="pink"
                    >{{ 'Ver más'|trans }}<i class="fa fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="text-center rounded">
              <img class="img-fluid" src="/images/app/categoria_3.png" alt="" />
              <h5 class="mt-3">{{ 'Escultura'|trans }}</h5>
              <a href="#" id="pink"
                >{{ 'Ver más'|trans }}<i class="fa fa-arrow-right"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item text-center rounded overflow-hidden">
              <img class="img-fluid" src="/images/app/categoria_4.png" alt="" />
              <div class="team-text">
                <div class="team-title">
                  <h5 class="mt-3">{{ 'Artesanía'|trans }}</h5>
                  <a href="#" id="pink"
                    >{{ 'Ver más'|trans }}<i class="fa fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Part 2 End -->
    {{ include('comunes/_footer.html.twig') }}  
    
{% endblock %}